# Not storing plots
**/plots/*
*.jpg
# Not storing temporal jupyter files
**/__pycache__/*
**/.ipynb_checkpoints/*
*.log
**.out
# Not storing save-state of objects
**/objects/*
# Other large files
**/data/*
*.h5
*.pkl
